<div class="relative min-h-screen flex flex-col">
  <%
=begin%>
 <div class="hidden lg:block fixed top-0 left-0 w-1/6 h-full bg-gray-200 z-10">
    <div class="w-full h-full flex items-center justify-center">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block;"
           data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
           data-ad-slot="1234567890"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div> 
<%
=end%>

  <div class="w-full lg:pl-[16.6667%] lg:pr-[16.6667%] flex-grow flex flex-col items-center justify-center">
    <%= form_with url: root_path, method: :get, remote: true, data: { turbo: true } do %>
        <h1 class="md:text-6xl text-3xl mb-4 font-bold text-white tracking-tight leading-tight text-center">
          Password Generator
        </h1>

      <div class="flex-grow flex flex-col items-center justify-center w-full">
        <%= turbo_frame_tag "password_form" do %>
          <div class="relative w-full">
            <% @pass_length = @password.length %>
            <% if @bits %>
              <% if @bits[:entropy] < 40 %>
                <span class="border-b-4 border-red-400 text-red-400">
                  <p class="text-red-400 text-center">Bad Password</p>
                  <%= text_area_tag :password,
                                    @password,
                                    id: 'passwordField',
                                    data: { controller: 'password passwordCopyMessage', action: 'click->password#getPass password:copy->passwordCopyMessage#show' },
                                    class: 'form-input w-full text-lg resize-none p-4 border-2 border-gray-300 rounded-lg focus:ring-4 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400 mb-4',
                                    placeholder: 'Your password',
                                    rows: 6 %>
                </span>
              <% elsif @bits[:entropy] >= 40 && @bits[:entropy] < 72 %>
                <span class="border-b-4 border-orange-400 text-orange-400">
                  <p class="text-orange-400 text-center">Weak Password</p>
                  <%= text_area_tag :password,
                                    @password,
                                    id: 'passwordField',
                                    data: { controller: 'password passwordCopyMessage', action: 'click->password#getPass password:copy->passwordCopyMessage#show' },
                                    class: 'form-input w-full text-lg resize-none p-4 border-2 border-gray-300 rounded-lg focus:ring-4 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400 mb-4',
                                    placeholder: 'Your password',
                                    rows: 6 %>
                </span>
              <% elsif @bits[:entropy] > 72 %>
                <span class="border-b-4 border-green-400">
                  <p class="text-green-400 text-center">Strong Password</p>
                  <%= text_area_tag :password,
                                    @password,
                                    id: 'passwordField',
                                    data: { controller: 'password passwordCopyMessage', action: 'click->password#getPass password:copy->passwordCopyMessage#show' },
                                    class: 'form-input w-full text-lg resize-none p-4 border-2 border-gray-300 rounded-lg focus:ring-4 focus:ring-blue-500 focus:border-blue-500 placeholder-gray-400 mb-4',
                                    placeholder: 'Your password',
                                    rows: 6 %>
                </span>
              <% end %>
            <% end %>

            <button type="button" onclick="copyPassword()" class="mt-2 px-4 py-2 bg-blue-500 text-white rounded w-full">
              Скопировать
            </button>

            <script>
              function copyPassword() {
                const passwordField = document.getElementById("passwordField");
                passwordField.select();
                passwordField.setSelectionRange(0, 99999);
                document.execCommand("copy");

                const notification = document.getElementById('copyNotification');
                notification.classList.remove('opacity-0');
                notification.classList.add('opacity-100');
                
                setTimeout(() => {
                  notification.classList.remove('opacity-100');
                  notification.classList.add('opacity-0');
                }, 3000);
              }
            </script>

            <div id="copyNotification" class="fixed top-4 left-1/2 transform -translate-x-1/2 bg-green-500 text-white py-2 px-4 rounded-lg shadow-lg opacity-0 pointer-events-none transition-all duration-300">
              Password copied to clipboard!
            </div>
          </div>
        <% end %>
      </div>

      <div class="mt-8 w-full">
        <label class="text-white block text-lg font-semibold">
          <% if @bits %>
            <p class="text-center text-sm mb-2 text-gray-300">Качество: <%= @bits[:entropy] %> bits</p>
            <p class="text-center text-sm mb-2 text-gray-300">Алфавит: <%= @bits[:alphabet_size] %> </p>
          <% end %>
          <p class="text-center text-sm mb-4 text-gray-200">Длина пароля: <span id="length-display" class="font-bold text-xl"><%= @pass_length %></span></p>
          <input type="range" id="length" name="length" min="5" max="128" value="<%= @pass_length %>"
                 oninput="document.getElementById('length-display').innerText = this.value"
                 class="w-full h-2 bg-green-500 rounded-lg appearance-none cursor-pointer transition-all duration-300 ease-in-out focus:outline-none focus:ring-4 focus:ring-green-300">
        </label>
      </div>

      <div class="mt-8 w-full space-y-4">
        <label class="text-white flex items-center text-lg">
          <%= check_box_tag :include_symbols, '1', true, class: 'mr-3 rounded-lg border-2 border-gray-300 text-green-500 focus:ring-2 focus:ring-green-500 transition-all duration-200' %>
          <span class="text-lg">Использовать символы (!, @, # и т.д.)</span>
        </label>

        <label class="text-white flex items-center text-lg">
          <%= check_box_tag :include_uppercase, '1', true, class: 'mr-3 rounded-lg border-2 border-gray-300 text-green-500 focus:ring-2 focus:ring-green-500 transition-all duration-200' %>
          <span class="text-lg">Использовать верхний регистр букв</span>
        </label>

        <label class="text-white flex items-center text-lg">
          <%= check_box_tag :include_lowercase, '1', true, class: 'mr-3 rounded-lg border-2 border-gray-300 text-green-500 focus:ring-2 focus:ring-green-500 transition-all duration-200' %>
          <span class="text-lg">Использовать нижний регистр букв</span>
        </label>

        <label class="text-white flex items-center text-lg">
          <%= check_box_tag :include_numbers, '1', true, class: 'mr-3 rounded-lg border-2 border-gray-300 text-green-500 focus:ring-2 focus:ring-green-500 transition-all duration-200' %>
          <span class="text-lg">Использовать цифры (0-9)</span>
        </label>
      </div>

      <div class="mt-8">
        <%= submit_tag 'Сгенерировать пароль', class: 'mt-4 px-8 py-3 bg-green-600 text-white rounded-lg shadow-lg hover:bg-green-700 focus:outline-none focus:ring-4 focus:ring-green-500 transition-all duration-300 ease-in-out w-full' %>
      </div>
    <% end %>
  </div>

  <%
=begin%>
 <div class="hidden lg:block fixed top-0 right-0 w-1/6 h-full bg-gray-200 z-10">
    <div class="w-full h-full flex items-center justify-center">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-XXXXXXXXXXXXXXXX"
           data-ad-slot="0987654321"
           data-ad-format="auto"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>
  </div> 
<%
=end%>
</div>
